<h1>Patch Commute Info</h1>

<table>
<tr>
<td>Choose Transit System&nbsp;&nbsp;</td><td>
<select name="system">
<option value="mta">MTA (New York Subways)</option>
</select>
</td></tr>
<tr>
<form name="stops" action="<%= url_for(:action => 'next_trains', :controller => 'route_info') %>">
<td><select name="stop" class="stop_select">
<%= options_from_collection_for_select(@stop_list, 'stop_id', 'stop_name') %>
</select> 
</td><td>
      <input type='submit' value='Next trains at this Stop' />
  </td>
  </form>
</tr>
<tr>
<form name="status" action="<%= url_for(:action => 'route_status', :controller => 'route_info') %>">
<td><select name="route" class="route_select">
<%= options_for_select(@route_list) %>
</select> 
</td><td>
      <input type='submit' value='Route Status' />
  </td>
  </form>
</tr>
<tr>
<form name="route" action="<%= url_for(:action => 'route', :controller => 'route_info') %>">
<td>
<table width=100% >
  <tr><td>From:</td>
    <td><input type=text name="start" class="input_box"></td>
  </tr>
  <tr><td>To:</td>
    <td><input type=text name="end" class="input_box"></td>
  </tr>
</table>
</td>
<td>
	<input type=submit value="Best Route"/>
	</form>
</td>
</form>
</tr>
<tr>
	<form name="nearest" action="<%= url_for(:action => 'nearest_stations', :controller => 'station_info') %>">
	<td><input type=text name="start" class="input_box"></td>
<td><input type=submit value="Nearest Stations"/></td>
</form>
</tr>
</table>