<% require 'number_formatter' %>
<table cellspacing="10px">
  <tr>
    <th>Instruction</th>
    <th>Time</th>
    <th>Total Time</th>
  </tr>

<% total_time = 0 %>
<% @result.each do |result| %>
  <tr>
    <% total_time += result[:Time] %>
    <td><%=h result[:Method] %>
    	<% if result.has_key? :Alert %>
    		<%= link_to result[:Alert][:announcement], :action => 'route_status' , :route => result[:Route] %>
    	<% end %></td>
    <td><%=h result[:Time].format_as_time %></td>
    <td><%=h total_time.format_as_time %></td>
  </tr>
<% end %>
</table>

<%= link_to "Back to Main Page", :action => 'index', :controller => 'application' %>